.topbar {
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 15vh;
  opacity: 0.3;
  display:flex;
  justify-content: space-between;
}

.div1 {
  width:20vw;
  height:15vh;
  background-color: lightblue;
}

.div2 {
  width:20vw;
  height:15vh;
  background-color: lightblue
}

.div3 {
  width:20vw;
  height:15vh;
  background-color: lightblue
}